<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
  <h1><a href="/">MakersBnB</a></h1>
   <h2 id="center">Let these potential bookings pique your curiosity</h2><br>
   <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <li class="left"><a href="/create_listing">post a listing</a> </li>
   <% if @user == nil %>
    <li class="right"><a href="/sign_up">sign up</a></li>
    <li class="right"><a href="/sign_in">sign in</a></li>
   <% else %>
   <li class="right"><a href="/profile"><%= @user.username %>'s profile</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   <% end %>
</ul>

<%# <------------------------MAIN BODY--------------------------> %>

      <% @properties.reverse_each do |property| %>
        <div class="listing">
        <img class="listing" src="<%= property.image_url %>">
          <p><h3><%= property.title %></h3></p>
          <p>£<%= property.price %> per night</p>
          <p><%= property.address %></p>
          <a href="/<%= property.id %>/property">View property</a>
        </div>
      <% end %>

<%# <------------------------MAIN BODY--------------------------> %>
</div>
</body>
