<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
  <h1>MakersBnB</h1>
   <h2 id="center">Let these potential bookings pique your curiosity</h2><br>
   <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <li class="left"><a href="/create_listing">post a listing</a> </li>
   <% if @user == nil %>
    <li class="right"><a href="/sign_up">sign up</a></li>
    <li class="right"><a href="/sign_in">sign in</a></li>
   <% else %>
   <li class="right"><a href="/profile"><%= @user.username %>'s profile</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   <% end %>
</ul>
<%# <------------------------MAIN BODY--------------------------> %>

<br><br> 
<img class="listing_details" src="<%= @property.image_url %>">
<h2><%= @property.title %></h2>
<%= @property.address %>
<br>
£<%= @property.price %> per night
<br><br>
<p><%= @property.description %></p>
<br><br>
<a href="/<%= @property.id %>/booking_request">Book</a></div>

<%# <------------------------MAIN BODY--------------------------> %>
</div>
</body>