<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
<div id="prop">
<h1>MakersBnB</h1>
 <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <%# sign in / sign up IF not signed it %>
   <%# profile & sign out IF signed it %>
   <li class="right"><a href="/profile">profile</a></li>
   <li class="right"><a href="/sign_up">sign up</a></li>
   <li class="right"><a href="/sign_in">sign in</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   </ul><br><br>
<img class="listing_details" src="<%= @property.first.image_url %>">
<h2><%= @property.first.title %></h2>
<%= @property.first.address %>
<br>
£<%= @property.first.price %> per night
<br><br>
<p><%= @property.first.description %></p>
<br><br>
<a href="/<%= @property.first.id %>/booking">Book</a></div>
</div>
</body>