<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
  <h1>Let these potential bookings pique your curiosity...</h1>
    <div>
      <%= @properties.each do |property| %>
        <div class="property">
          <p><%= property.title %></p>
          <p><%= property.description %></p>
          <p><%= property.price %></p>
          <a href="/<%= property.id %>/property">View property</a>
        </div>
      <% end %>
    </div>