<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
<div id="prop">
<h1><a href="/">MakersBnB</a></h1>
 <ul>
   <li class="left"><a href="/properties">view all</a> </li>
   <%# sign in / sign up IF not signed it %>
   <%# profile & sign out IF signed it %>
   <li class="right"><a href="/profile">profile</a></li>
   <li class="right"><a href="/sign_up">sign up</a></li>
   <li class="right"><a href="/sign_in">sign in</a></li>
   <li class="right"><a href="/sign_out">sign out</a></li>
   </ul><br><br>
<img class="listing_details" src="<%= @property.image_url %>">
<h2><%= @property.title %></h2>
<%= @property.address %>
<br>
£<%= @property.price %> per night
<br><br>
<p><%= @property.description %></p>
<br><br>
<a href="/<%= @property.id %>/booking">Book</a></div>
</div>
</body>