<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  <title>MakersBnB</title>
</head>
<body>
<div class="main">
<div id="prop">
<h1>MakersBnB</h1>
<img class="listing_details" src="<%= @property.first.image_url %>">
<h2 id="detail"><%= @property.first.title %></h2>
<%= @property.first.address %>
<br>
£<%= @property.first.price %> per night
<br><br>
<%= @property.first.description %>
<br><br>
<a href="/<%= @property.first.id %>/booking">Book</a></div>
</div>
</body>